*,
::before,
::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Raleway', sans-serif;
  color: $black-color;
  background: $white-color;
}

ol,
ul {
  list-style: none;
}
